In [1]:
import pandas as pd
import sqlite3
import os

In [2]:
try:
    import openpyxl
    import xlrd
    import matplotlib.pyplot as plt
except ImportError:
    os.system('pip install openpyxl xlrd matplotlib')
    import openpyxl
    import xlrd
    import matplotlib.pylot as plt

In [3]:
csv_content="""id,name,age
1,John Doe,28
2,Jane Smith,34
3,Emily Davis,22
"""

In [4]:
with open('data.csv','w') as file:
    file.write(csv_content)

In [5]:
try:
    df_csv=pd.read_csv('data.csv')
    print("CSV Data:")
    print(df_csv)
except Exception as e:
    print(f"Error reading CSV file:{e}")

CSV Data:
   id         name  age
0   1     John Doe   28
1   2   Jane Smith   34
2   3  Emily Davis   22

In [6]:
excel_data={
    'id':[1,2,3],
    'name':['John doe','Jane Smith','Emily Davis'],
    'age':[28,34,22]
}
df_excel_create=pd.DataFrame(excel_data)
df_excel_create.to_excel('data.xlsx',sheet_name='Sheet1',index=False)

In [7]:
try:
    df_excel=pd.read_excel('data.xlsx',sheet_name='Sheet1')
    print("\nExcel Data:")
    print(df_excel)
except Exception as e:
    print(f"Error reading Excel file:{e}")

Excel Data:
   id         name  age
0   1     John doe   28
1   2   Jane Smith   34
2   3  Emily Davis   22

In [10]:
json_content=[
    {"id":1, "name":"John Doe","age": 28},
    {"id":2, "name":"Jane Smith","age": 34},
    {"id":3, "name":"Emily Davis","age": 22}
    
]
with open('data.json','w') as file:
    pd.DataFrame(json_content).to_json(file, orient='records')

In [11]:
try:
    df_json=pd.read_json('data.json')
    print("\nJSON Data:")
    print(df_json)
except Exception as e:
    print(f"Error reading JSON file: {e}")

JSON Data:
   id         name  age
0   1     John Doe   28
1   2   Jane Smith   34
2   3  Emily Davis   22

In [13]:
try:
    conn=sqlite3.connect('database.db')
    cursor=conn.cursor()
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS table_name(
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
    )
    ''')
    cursor.execute('INSERT INTO table_name(id,name,age) VALUES(1,"John Doe",28)')
    cursor.execute('INSERT INTO table_name(id,name,age) VALUES(2,"Jane Smith",34)')
    cursor.execute('INSERT INTO table_name(id,name,age) VALUES(3,"Emily Davis",22)')
    conn.commit()
    
    df_sql=pd.read_sql_query('SELECT *FROM table_name',conn)
    print("\nSQl Data:")
    print(df_sql)
except Exception as e:
    print(f"Error with SQL database:{e}")
finally:
          conn.close()

SQl Data:
   id         name  age
0   1     John Doe   28
1   2   Jane Smith   34
2   3  Emily Davis   22

In [ ]:
import pandas as pd
df=